.home-banner {
    width: 100%;
}



.di-panel-container {
    height: 360px;
    padding: 2.6rem;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0.1rem solid rgba(0, 11, 0, 0.08);
    box-shadow: 0 0 15px rgba(0, 11, 0, 0.08);
}
.di-panel-container h4 {
    margin: 0rem;
    padding: 0rem;
    font-size: 3rem;
    font-weight: regular;
}
.di-panel-container p {
    margin: 0rem;
    padding: 0rem;
    margin-top: 1.6rem;
    font-size: 1.6rem;
}
.di-panel-container span {
    padding: 0.8rem 2.8rem;
    font-size: 1.8rem;
    background-color: #F3F8F3;
    border-radius: 40px;
    color: #078E43;
    border: 0.1rem solid #078E43;
    position: absolute;
    bottom: 2.6rem;
    left: 2.6rem;
    cursor: pointer;
}
.di-panel-container span:hover {
    color: #ffffff;
    background-color: #078E43;
}
.di-panel-container img {
    position: absolute;
    right: 2.6rem;
    bottom: 2.6rem;
}
.di-panel-container p {
    line-height: 200%;
}



.dl-panel-simple {
    margin: 0rem;
    padding: 3.2rem 3.2rem 8rem;
    position: relative;
    color: #666666;
    background-color: #FFFFFF;
    overflow: hidden;
    cursor: pointer;
    border: 0.1rem solid #107400;
}
.dl-panel-simple:hover {
    color: #ffffff;
    background-color: #389D5B;
}
.dl-panel-simple dt, .dl-panel-simple dd {
    margin: 0rem;
    padding: 0rem;
}
.dl-panel-simple dt {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
}
.dl-panel-simple dt.h-bk-a:before,
.dl-panel-simple dt.h-bk-b:before,
.dl-panel-simple dt.h-bk-c:before,
.dl-panel-simple dt.h-bk-d:before {
    position: absolute;
    font-size: 31rem;
    opacity: 0.08;
    line-height: 100%;
    font-weight: normal;
}
.dl-panel-simple dt.h-bk-a:before {
    content: "A";
    top: -3.8rem;
    right: -3rem;
}
.dl-panel-simple dt.h-bk-b:before {
    content: "B";
    top: -6rem;
    right: -4rem;
}
.dl-panel-simple dt.h-bk-c:before {
    content: "C";
    top: -3rem;
    right: -3rem;
}
.dl-panel-simple dt.h-bk-d:before {
    content: "D";
    top: -5rem;
    right: -6rem;
}

.dl-panel-simple dd {
    font-size: 1.6rem;
    line-height: 230%;
}
.dl-panel-simple dd:before {
    content: "√";
    margin-right: 0.4rem;
    position: relative;
    top: 0.05rem;
}



.dl-panel-simple .h-price {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    line-height: 100%;
}
.dl-panel-simple .h-price:before {
    content: "";
}
.dl-panel-simple .h-price span:last-child {
    font-size: 3rem;
}



.di-title-left-align {
    padding-bottom: 2rem;
    position: relative;
}
.di-title-left-align:after {
    content: "";
    position: absolute;
    left: 0%;
    right: 36%;
    bottom: 0rem;
    border-bottom: 0.4rem solid #0C8947;
}
.di-title-left-align span:first-child {
    font-size: 4rem;
    color: #107400;
    margin-right: 1rem;
}
.di-title-left-align span:last-child {
    font-size: 4.3rem;
    color: #107400;
    margin-right: 1rem;
    opacity: 0.5;
    position: relative;
    top: 0.3rem;
}



.home-healthy {
    margin-top: 8rem;
    <!--background-image: url("/static/images/home/healthy-backa.png");-->
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 10rem;
}

.home-healthy .np-elaborate {
    width: 36%;
    padding: 8rem 2rem 4rem 6rem;
}
.home-healthy .np-elaborate .n-head {
    position: relative;
    left: 2rem;
}
.home-healthy .np-elaborate .n-head:after {
    content: "";
    position: absolute;
    left: -2rem;
    right: 50%;
    bottom: -2rem;
    border-bottom: 0.4rem solid #ffffff;
    opacity: 0.7;
}
.home-healthy .np-elaborate .n-title {
    font-size: 4rem;
    margin-right: 2rem;
    color: #ffffff;
}
.home-healthy .np-elaborate .n-title-desc {
    font-size: 5rem;
    position: relative;
    top: 0.33rem;
    color: #ffffff;
    opacity: 0.7;
}
.home-healthy .np-elaborate .n-content {
    padding-top: 4rem;
}
.home-healthy .np-elaborate .n-content span{
    color: #333333;
    cursor: pointer;
}
.home-healthy .np-elaborate .n-content span#hiddenS{
    display: none;
}
.home-healthy .np-elaborate .n-content p {
    line-height: 230%;
    text-indent: 2.8rem;
    color: #ffffff;
}
.home-healthy .np-elaborate .n-content p:last-child {
    margin-top: 3.6rem;
    display: none;
}

.home-healthy .np-service-nav {
    position: absolute;
    top: 6rem;
    left: 44%;
    right: 6.6rem;
    padding: 5rem 6rem 4rem;
    background-color: #F3F8F3;
}
.home-healthy .np-service-nav .item-row {
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
    overflow: hidden;
}
.home-healthy .np-service-nav .item-row li {
    width: 33.33%;
    float: left;
    padding: 1rem 0rem;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
.home-healthy .np-service-nav .item-row li .i-unc {
    display: inline-block;
}
.home-healthy .np-service-nav .item-row li:hover .i-unc {
    display: none;
}
.home-healthy .np-service-nav .item-row li .i-act {
    display: none;
}
.home-healthy .np-service-nav .item-row li:hover .i-act {
    display: inline-block;
}
.home-healthy .np-service-nav .item-row li p {
    margin: 2rem 0rem;
}
.home-healthy .np-service-nav .item-row li img {
    width: 60%;
}
.home-healthy .np-service-nav .item-row .left-float {
    position: relative;
    left: -6%;
}
.home-healthy .np-service-nav .item-row .right-float {
    position: relative;
    right: -6%;
}
/* .home-healthy .np-service-nav .item-row li:after {
    content: "";
    display: block;
    padding-top: 100%;
} */


.home-service {
    margin-top: 6rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 8.3rem;
}

.home-service .n-left-cover {
    float: left;
    width: 39%;
}

.home-service .n-right-content {
    float: right;
    width: 50%;
}
.home-service .n-right-content .n-title {
    font-size: 4rem;
    color: #282828;
    /*font-weight: bold;*/
    padding-bottom: 2rem;
    position: relative;
}
.home-service .n-right-content .n-title:after {
    content: "";
    position: absolute;
    left: 0rem;
    right: 30%;
    bottom: 0rem;
    border-bottom: 0.4rem solid #0C8947;
}
.home-service .n-right-content .n-title span:last-child {
    color: #DFDFDF;
    margin-left: 2rem;
    font-size: 116%;
    position: relative;
    top: 0.2rem;
}
.home-service .n-right-content .n-desc {
    margin-top: .2rem;
}
.home-service .n-right-content .n-desc p {
    text-indent: 2.8rem;
    line-height: 120%;
}

.home-service .n-bottom-button {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    display: block;
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
    width: 80%;
}
.home-service .n-bottom-button li {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    float: left;
}
.home-service .n-bottom-button li img {
    width: 100%;
}

.home-medical-affairs {
    margin-top: 8rem;
    margin-bottom: 13rem;
    overflow: hidden;
}

.home-medical-affairs .h-title {
    padding-bottom: 1.6rem;
    position: relative;
    text-align: center;
}
.home-medical-affairs .h-title:after {
    content: "";
    position: absolute;
    left: 36%;
    right: 36%;
    bottom: 0rem;
    border-bottom: 0.4rem solid #0C8947;
}
.home-medical-affairs .h-title span:first-child {
    font-size: 4rem;
    color: #107400;
    margin-right: 1rem;
}
.home-medical-affairs .h-title span:last-child {
    font-size: 4.3rem;
    color: #107400;
    margin-right: 1rem;
    opacity: 0.5;
    position: relative;
    top: 0.3rem;
}

.home-medical-affairs .h-panel-three {
    margin: 6rem -1.6rem 0rem;
    overflow: hidden;
}
.home-medical-affairs .h-panel-three .h-three-margin {
    width: 33.33%;
    float: left;
    padding: 1.6rem;
    box-sizing: border-box;
}

.home-medical-affairs .h-panel-two {
    margin: 0rem -1.6rem 0rem;
    overflow: hidden;
}
.home-medical-affairs .h-panel-two .h-two-margin {
    width: 50%;
    float: left;
    padding: 1.6rem;
    box-sizing: border-box;
}


.home-product {
    width: 100%;
    padding: 3.2rem 0rem;
    background-color: #F0F3F0;
}
.home-product:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.home-product .h-product-list, .home-product .h-product-nav {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.home-product .h-product-list {
    padding-right: 1.6rem;
}
.home-product .h-product-nav {
    padding-left: 3.2rem;
    padding-top: 3rem;
}

.home-product .h-product-list .hl-left, .home-product .h-product-list .hl-right {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.home-product .h-product-list .hl-left {
    padding-right: 1.6rem;
    position: relative;
    top: -8rem;
    z-index: 10;
}
.home-product .h-product-list .hl-right {
    padding-left: 1.6rem;
}

/*
.home-product .h-title {
    margin-top: 3.2rem;
    padding-bottom: 1.6rem;
    position: relative;
}
.home-product .h-title:after {
    content: "";
    position: absolute;
    left: 0%;
    right: 30%;
    bottom: 0rem;
    border-bottom: 0.4rem solid #0C8947;
}
.home-product .h-title span:first-child {
    font-size: 4rem;
    color: #107400;
    margin-right: 1rem;
}
.home-product .h-title span:last-child {
    font-size: 4.3rem;
    color: #107400;
    margin-right: 1rem;
    opacity: 0.5;
    position: relative;
    top: 0.3rem;
}
*/

.home-product .h-nav-list {
    margin-top: 5rem;
    overflow: hidden;
}
.home-product .h-nav-list .hn-left {
    float: left;
    margin-top: 6rem;
    padding-left: 3.2rem;
}
.home-product .h-nav-list .hn-left dl {
    position: relative;
    cursor: pointer;
    margin-bottom: 4rem;
}
/*.home-product .h-nav-list .hn-left dl:hover {*/
/*    color: #107400;*/
/*    font-weight: bold;*/
/*}*/
.home-product .h-nav-list .hn-left dl.hn-left-active{
    color: #107400;
    font-weight: bold;
}
.home-product .h-nav-list .hn-left dl.hn-left-active:before {
    content: "《";
    position: absolute;
    left: -3rem;
    top: 33%;
}
.home-product .h-nav-list .hn-left dd {
    margin: 0rem;
    padding: 0rem;
    line-height: 180%;
}
/*.home-product .h-nav-list .hn-left dl:hover:before {*/
/*    content: "《";*/
/*    position: absolute;*/
/*    left: -3rem;*/
/*    top: 33%;*/
/*}*/
.home-product .h-nav-list .hn-right {
    float: left;
    padding-left: 1.6rem;
}

.home-cooperative {
    background-image: url("/static/images/home/cooperative.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -16.8rem;
    padding-bottom: 8rem;
}

.home-cooperative .hc-title {
    padding-top: 21rem;
    padding-bottom: 1.6rem;
    position: relative;
    text-align: center;
}
.home-cooperative .hc-title:after {
    content: "";
    position: absolute;
    left: 36%;
    right: 36%;
    bottom: 0rem;
    border-bottom: 0.4rem solid #ffffff;
}
.home-cooperative .hc-title span:first-child {
    font-size: 4rem;
    color: #ffffff;
    margin-right: 1rem;
}
.home-cooperative .hc-title span:last-child {
    font-size: 4.3rem;
    color: #ffffff;
    margin-right: 1rem;
    opacity: 0.5;
    position: relative;
    top: 0.3rem;
}
.home-cooperative .hc-desc {
    margin-top: 2rem;
    text-align: center;
    color: #ffffff;
    opacity: 0.6;
    margin-bottom: 8rem;
}

.home-slide {
    position: relative;
    margin: 0rem -0.8rem;
}
.home-slide p {
    margin: 0rem;
    padding: 0rem;
    line-height: 0%;
    font-size: 6rem;
    color: #ffffff;
    cursor: pointer;
}
.home-slide p:first-child {
    position: absolute;
    top: -3rem;
    left: 50%;
    margin-left: -18px;
}
.home-slide p:last-child {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    margin-left: -18px;
}

.home-slide ul {
    font-size: 0rem;
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
    overflow: hidden;
}
.home-slide ul li {
    float: left;
    width: 20%;
    padding: 0rem 0.8rem;
    box-sizing: border-box;
}

.home-article-container {
    display: inline-block;
    vertical-align: top;
    width: 49.8%;
}
.home-article-container .hal-row-left {
    margin-right: 3.2rem;
}
.home-article-container .hal-row-right {
    /*margin-left: 3.2rem;*/
}
.home-article-container .ha-list-wrap {
    margin-bottom: 3.2rem;
    overflow: hidden;
}
.home-article-container .ha-list-wrap p {
    margin: 0rem;
    padding: 0rem;
}
.home-article-container .ha-list-wrap .ha-l-date {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    color: #999999;
}
.home-article-container .ha-list-wrap .ha-l-date div {
    width: 100%;
    background-color: #E6E6E6;
    position: relative;
    overflow: hidden;
}
.home-article-container .ha-list-wrap .ha-l-date div:after {
    content: "";
    display: block;
    padding-top: 100%;
}
.home-article-container .ha-list-wrap .ha-l-date div p {
    position: absolute;
    width: 100%;
    text-align: center;
}
.home-article-container .ha-list-wrap .ha-l-date div p:first-child {
    top: 15%;
    font-size: 4rem;
}
.home-article-container .ha-list-wrap .ha-l-date div p:last-child {
    bottom: 16%;
}
.home-article-container .ha-list-wrap .ha-l-content {
    display: inline-block;
    width: 84%;
    padding-left: 1.6rem;
    box-sizing: border-box;
    vertical-align: top;
    color: #999999;
}
.home-article-container .ha-list-wrap .ha-l-content p:last-child {
    margin-top: 2rem;
}
.home-article-container .ha-list-wrap:hover .ha-l-date div {
    color: #ffffff;
    background-color: #068630;
}
.home-article-container .ha-list-wrap a {
    color: #333333;
}
.home-article-container .ha-list-wrap:hover a {
    color: #068630;
}
.home-article-container .ha-list-wrap:hover .ha-l-content {
    color: #333333;
}
.home-article-container .ha-list-wrap .ha-l-padding {
    padding-right: 3rem;
}
