.di-title-container p{
    color: #666666;
}
.di-tcgk{
    content: "";
    display: inline-block;
    /*position: absolute;*/
    /*width: 0.4rem;*/
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    padding-left: 1.6rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #078E43;
    border-left: 0.4rem solid #078E43;
    /*background-color: #078E43;*/
}
.di-tcgk-content{
    color:rgba(51,51,51,1);
    line-height: 2rem;
    margin-bottom: 4rem;
}
.di-tc-tel{
    color: #ffffff;
    padding: 1rem 2rem;
    background: #078E43;
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 1rem;
}
.di-tc-tel img{
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}
.di-tc-details{
    line-height: 2rem;
    color: #333333;
}
