.service-custom-form {
    background-color: #F4F8F7;
    padding: 3.2rem 3.2rem;
    margin: 6rem 0rem 6rem;
}

.service-menu {
    width: 100%;
}
.service-menu .right-content {
    padding: 0rem 1.6rem;
}
