<link rel="stylesheet" href="/static/pv1/css/01.normalize.css" />
    <link rel="stylesheet" href="/static/pv1/css/02.base.css" />
    <link rel="stylesheet" href="/static/pv1/css/03.multiplexing.css" />
    <link rel="stylesheet" href="/static/pv1/css/04.title-style.css" />
    <link rel="stylesheet" href="/static/pv1/css/global-overseas.css" />
    <script src="/static/pv1/js/02.base.js"></script>
<script src="/static/pv1/js/01.vue.min.js"></script>

{include file="Public/header" /}
<div class="di-banner-container" style="background-image:url('/static/images/global/banner-yiliao.png')">
    <div class="di-container">
        <div class="left-wrap">
            <p>Overseas Medical Care</p>
            <p>海外医疗</p>
        </div>
        <div class="right-wrap">
            <p>健康医疗，标准化健康管理</p>
        </div>
    </div>
</div>
<div class="di-bread-crumbs">
    <div class="di-container">
        <ul class="crumbs-list">
            <li>您的当前位置</li>
            <li><a href="/">大爱无疆</a></li>
            <li><a href="">全球医疗</a></li>
            <li><a href="">海外医疗</a></li>
        </ul>
    </div>
</div>
<div id="">
    <div class="di-container el-mt-20 global-overseas">
        <div class="di-row el-mb-20">
        <div class="di-col-4">
            <div class="di-title-container">
                <p class="en-name line-b-after">Overseas Medical Advantage</p>
                <h1 class="cn-name">海外就诊优势</h1>
            </div>
            <div class="di-left-content">
                <p class="title">Q：为什么选择海外就医？</p>
                <p>
                    A：一是针对目前国内治疗水平不高的疑难杂症，国外医疗水平和技术都比较高，治愈的可能性大。二是想寻求更好的治疗环境的高端人群。国内医院总是"人满为患"，国外好的医院环境优美、是休息和治疗的较佳选择。
                </p>
                <p class="title">
                    Q：什么样的人适合出国就医？
                </p>
                <p>
                    A：①目前的治疗产生很大的副作用或者疗效一直不理想的；
                    ②目前国内没有更好的治疗方案或被国内医生告知无能为力的；
                    ③被诊断患有非常严重的疾病（例如，癌症等）的；
                    ④希望寻求更好的治疗环境和服务的；
                    ⑤有一定的经济基础的。
                </p>
            </div>
        </div>
        <div class="di-col-6 global-overseas-right">
            <div class="el-mb-20">
                <div class="left-image">
                    <img src="/static/images/global/new.png" />
                    <img class="bottom-img" src="/static/images/global/xianjin.png">
                </div>
                <div class="left-image">
                    <img src="/static/images/global/03.png" />
                    <img class="bottom-img" src="/static/images/global/04.png">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="hr-green">
        <img src="/static/images/global/liucheng.png" alt="">
    </div>
    <div class="di-container el-mt-20">
        <div class="di-row el-mb-20 global-overseas-title">
            <div class="n-title">海外就医</div>
            <div class="n-content">为什么选择大爱无疆</div>
        </div>
    </div>
<!--   轮播  -->
    <div class="di-container el-mb-20">
        <div class="home-slide" id="partners">
            <img src="/static/images/global/left.png" class="img" id="slide-up">
            <ul>
                <li>
                    <img src="/static/images/partners/g01.jpg" />
                    <p class="el-text-center">
                        <span class="p-title">深度体检排查疾病危险因子</span>
                        <br>
                        <span class="hr"></span>
                        <br>
                        <span class="p-content">通过深度健康体检，排查健康状况，及时发现疾病危险因子。发现阳性体征者，可根据情况快速安排转诊。</span>
                    </p>
                </li>
                <li><img src="/static/images/partners/g02.jpg" />
                    <p class="el-text-center">
                        <span class="p-title">官方便捷绿色转沴通道</span>
                        <br>
                        <span class="hr" style="background: #DC72FF"></span>
                        <br>
                        <span class="p-content">与多国、多家知名医院签约合作，确保预约国外专家质量、真实性。</span>
                    </p>
                </li>
                <li>
                    <img src="/static/images/partners/g03.jpg" />
                    <p class="el-text-center">
                        <span class="p-title">快速预约看病</span>
                        <br>
                        <span class="hr" style="background: #078E43"></span>
                        <br>
                        <span class="p-content">确定国外目标医院后，约一周即可到国外医院接受诊治。</span>
                    </p>
                </li>
                <li><img src="/static/images/partners/g04.jpg" />
                    <p class="el-text-center">
                        <span class="p-title">—站式就医服努</span>
                        <br>
                        <span class="hr" style="background: #87D5B0"></span>
                        <br>
                        <span class="p-content">从体检到海外绿色转诊全程一站式就医服务，包括协助办理签证、提供医学翻译等系列服务。</span>
                    </p>
                </li>
                <li><img src="/static/images/partners/g05.jpg" />
                    <p class="el-text-center">
                        <span class="p-title">后续健康保障</span>
                        <br>
                        <span class="hr" style="background: #02C89C"></span>
                        <br>
                        <span class="p-content">归国后，中心可安排顾客定期进行阳性体征复查，同时联系国内名医复诊，对顾客健康状况进行长期跟踪服务。</span>
                    </p>
                </li>
            </ul>
            <img src="/static/images/global/right.png" class="img" id="slide-down">
        </div>
    </div>
</div>
<div class="di-footer">
    <img class="dif-line" src="/static/images/home/footer-line.png" />
</div>
<!-- <script src="/home/js/manifest.min.js"></script> -->
<script src="/static/pv1/js/global-domestic.js"></script>
   {include file="Public/footer" /}
