<link rel="stylesheet" href="/static/pv1/css/01.normalize.css" />
<link rel="stylesheet" href="/static/pv1/css/02.base.css" />
<link rel="stylesheet" href="/static/pv1/css/03.multiplexing.css" />
<link rel="stylesheet" href="/static/pv1/css/global-domestic.css" />
<link rel="stylesheet" href="/static/pv1/css/01.normalize.css" />
{include file="Public/header" /}
<div class="di-banner-container" style="background-image:url('/static/images/global/banner-yiliao.png')">
    <div class="di-container">
        <div class="left-wrap">
            <p>Domestic Referral</p>
            <p>国内转诊</p>
        </div>
        <div class="right-wrap">
            <p>健康医疗，标准化健康管理</p>
        </div>
    </div>
</div>
<div class="di-bread-crumbs">
    <div class="di-container">
        <ul class="crumbs-list">
            <li>您的当前位置</li>
            <li><a href="/">大爱无疆</a></li>
            <li><a href="">全球医疗</a></li>
            <li><a href="">国内转诊</a></li>
        </ul>
    </div>
</div>
<div id="ServiceSubject">
    <div class="di-container el-mt-20">
        <div class="di-row el-mb-20">
            <div class="n-title">绿色转诊</div>
            <div class="n-content">为什么选择大爱无疆</div>
        </div>
<!--              轮播      -->
        <div class="di-container">
            <div class="home-slide" id="partners">
                <img src="/static/images/global/left.png" class="img" id="slide-up">
                <ul>
                    <li>
                        <img src="/static/images/partners/g01.jpg" />
                        <p class="el-text-center">
                            <span class="p-title">便捷快速预约通道</span>
                            <br>
                            <span class="hr"></span>
                            <br>
                            <span class="p-content">中心与国内诸多三甲医院达成绿色转诊合作协议，对重大阳性体征会员客户，可根据其意愿提供绿色转诊服务！</span>
                        </p>
                    </li>
                    <li><img src="/static/images/partners/g02.jpg" />
                        <p class="el-text-center">
                            <span class="p-title">一站式协同就医服务</span>
                            <br>
                            <span class="hr" style="background: #DC72FF"></span>
                            <br>
                            <span class="p-content">根据顾客情况帮助选择适合的绿色转诊医院，且帮助客户预约挂号、与医生沟通病情、取药等协同就医服务！</span>
                        </p>
                    </li>
                    <li>
                        <img src="/static/images/partners/g03.jpg" />
                        <p class="el-text-center">
                            <span class="p-title">出院后持续健康管理</span>
                            <br>
                            <span class="hr" style="background: #078E43"></span>
                            <br>
                            <span class="p-content">顾客出院后，中心健康秘书定期进行回访，了解顾客健康情况，并由知名健康管理健康顾问制定个性化健康管理方案！</span>
                        </p>
                    </li>
                    <li><img src="/static/images/partners/g04.jpg" />
                        <p class="el-text-center">
                            <span class="p-title">阳性体征免费复查</span>
                            <br>
                            <span class="hr" style="background: #87D5B0"></span>
                            <br>
                            <span class="p-content">为了让顾客随时了解自己健康状况及有无复发情况，中心特别向广大会员客户提供阳性体征免费体检项目复查服务！</span>
                        </p>
                    </li>
                </ul>
                <img src="/static/images/global/right.png" class="img" id="slide-down">
            </div>
        </div>
<!--                    -->
        <div class="h-panel-three">
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/global/shendu.png" alt="">
                        <span>深度健康体检</span>
                    </p>
                    <p class="di-panel-content">知名健康管理医师根据顾客个人情况，量身定制全面深度体检套餐，先进体检设备精准检测，专业体检医生层层把关，全方位排查健康！</p>
                </div>
            </div>
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/global/find.png" alt="">
                        <span>发现重大阳性体质</span>
                    </p>
                    <p class="di-panel-content">根据体检数据对比分析，了解顾客健康状况，看是否处于亚健康状态、是否存在潜在疾病风险以及有无阳性体征出现。</p>
                </div>
            </div>
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/global/green.png" alt="">
                        <span>国内绿色体检</span>
                    </p>
                    <p class="di-panel-content">根据顾客身体健康状况及需求，可提供国内(北京、上海、天津、重庆、无锡)等地三甲医院一站式协同就医服务！</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-green"></div>
    <div class="di-container">
        <!--                    -->
        <div class="h-panel-three" id="h-panel-four">
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <img src="/static/images/global/360.png" alt="">
                </div>
            </div>
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <img src="/static/images/global/ziyuan.png" alt="">
                </div>
            </div>
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <img src="/static/images/global/yisheng.png" alt="">
                </div>
            </div>
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <img src="/static/images/global/fuwu.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="di-footer">
    <img class="dif-line" src="/static/images/home/footer-line.png" />
</div>
<script src="/static/pv1/js/02.base.js"></script>
<script src="/static/pv1/js/01.vue.min.js"></script>
<script src="/static/pv1/js/global-domestic.js"></script>
{include file="Public/footer" /}
