    <link rel="stylesheet" href="/static/pv1/css/01.normalize.css" />
    <link rel="stylesheet" href="/static/pv1/css/02.base.css" />
    <link rel="stylesheet" href="/static/pv1/css/03.multiplexing.css" />
    <link rel="stylesheet" href="/static/pv1/css/04.title-style.css" />
    <link rel="stylesheet" href="/static/pv1/css/healthy-manage.css" />
    <link rel="stylesheet" href="/static/pv1/css/contact-us.css" />
<!-- <link rel="stylesheet" href="/home/css/manifest.min.css" /> -->
{include file="Public/header" /}
	<div class="di-banner-container" style="background-image:url('/home/images/banner/banner1.png')">
		<div class="di-container">
			<div class="left-wrap">
				<p>INFORMATION</p>
				<p>健康管理</p>
			</div>
			<div class="right-wrap">
				<p>健康医疗，标准化健康管理</p>
			</div>
		</div>
	</div>
	<div class="di-bread-crumbs">
		<div class="di-container">
			<ul class="crumbs-list">
				<li>您的当前位置</li>
				<li><a href="/">大爱无疆</a></li>
				<li><a href="">健康管理</a></li>
			</ul>
		</div>
	</div>
	<div class="di-container el-mt-20">
		<div class="di-row el-mb-20">
			<div class="di-col-5">
				<div class="healthy-panel-container">
					<div class="left-image">
						<img src="/home/images/healthy-manage/healthy-define.png" />
					</div>
					<div class="right-content">
						<h4>健康管理的定义</h4>
						<p>健康管理是指对健康人群、亚健康人群、疾病患者群的健康因素进行全面检测、分析、评估，并提供健康咨 …</p>
						<p class="decorate"><a href="{:url('/home/healthymanagedy')}?ctoken=73f663f3a971ec5221c9c4ecf88d1aef">查看详情》</a></p>
					</div>
				</div>
			</div>
			<div class="di-col-5">
				<div class="healthy-panel-container">
					<div class="left-image">
						<img src="/home/images/healthy-manage/healthy-check.png" />
					</div>
					<div class="right-content">
						<h4>健康体检</h4>
						<p>公司与国内外各大顶尖体检机构合作，让体检实现便捷化和普及化。通过医学手段和方法对客户进行身体检…</p>
						<p class="decorate"><a href="{:url('/home/healthymanagejktj')}?ctoken=73f663f3a971ec5221c9c4ecf88d1aef">查看详情》</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="di-row el-mb-20">
			<div class="di-col-5">
				<div class="healthy-panel-container">
					<div class="left-image">
						<img src="/home/images/healthy-manage/healthy-archives.png" />
					</div>
					<div class="right-content">
						<h4>建立电子健康档案</h4>
						<p>根据个人的生活习惯、既往病史、诊治情况、家族病史、现病史、体检结果及疾病的发生、发展、治疗等…</p>
						<p class="decorate"><a href="{:url('/home/healthymanagedzda')}?ctoken=73f663f3a971ec5221c9c4ecf88d1aef">查看详情》</a></p>
					</div>
				</div>
			</div>
			<div class="di-col-5">
				<div class="healthy-panel-container">
					<div class="left-image">
						<img src="/home/images/healthy-manage/gene-check.png" />
					</div>
					<div class="right-content">
						<h4>基因检测</h4>
						<p>基因是遗传的基本单元，携带有遗传信息的DNA或RNA序列，通过复制，把遗传信息传递给下一代，指导蛋白…</p>
						<p class="decorate"><a href="{:url('/home/healthymanagejyjc')}?ctoken=73f663f3a971ec5221c9c4ecf88d1aef">查看详情》</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="di-row el-mb-20">
			<div class="di-col-5">
				<div class="healthy-panel-container">
					<div class="left-image">
						<img src="/home/images/healthy-manage/tumour-check.png" />
					</div>
					<div class="right-content">
						<h4>肿瘤筛查</h4>
						<p>癌症每年夺去大约600万人的生命并把近10000人致于死亡的边缘，至今得不到有效的控制，成为威胁人类…</p>
						<p class="decorate"><a href="{:url('/home/healthymanagezlsc')}?ctoken=73f663f3a971ec5221c9c4ecf88d1aef">查看详情》</a></p>
					</div>
				</div>
			</div>
			<div class="di-col-5">
				<div class="healthy-panel-container">
					<div class="left-image">
						<img src="/home/images/healthy-manage/nutrition.png" />
					</div>
					<div class="right-content">
						<h4>营养膳食与运动方案管理</h4>
						<p>通过实现各种营养的均衡，帮助人们达到一种从身体到思想，健康、积极、富有理想的生活状态。那么我们…</p>
						<p class="decorate"><a href="{:url('/home/healthymanageyyjk')}?ctoken=73f663f3a971ec5221c9c4ecf88d1aef">查看详情》</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="di-row el-mb-20">
			<div class="di-col-5">
				<div class="healthy-panel-container">
					<div class="left-image">
						<img src="/home/images/healthy-manage/healthy-assist.png" />
					</div>
					<div class="right-content">
						<h4>医疗辅助与康复</h4>
						<p>在医院、养老机构、临终关怀机构、社区卫生服务中心、家庭等场所进行基本的护理技术服务，帮助服务…</p>
						<p class="decorate"><a href="{:url('/home/healthymanageylkf')}?ctoken=73f663f3a971ec5221c9c4ecf88d1aef">查看详情》</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="di-footer">
		<img class="dif-line" src="/home/images/home/footer-line.png" />
	</div>
	{include file="Public/footer" /}
