    <link rel="stylesheet" href="/static/pv1/css/01.normalize.css" />
    <link rel="stylesheet" href="/static/pv1/css/02.base.css" />
    <link rel="stylesheet" href="/static/pv1/css/03.multiplexing.css" />
    <link rel="stylesheet" href="/static/pv1/css/healthy-manage.css" />
    <link rel="stylesheet" href="/static/pv1/css/information-details.css" />
{include file="Public/header" /}
<div class="di-banner-container" style="background-image:url('/static/images/zixun/banner-zixun.png')">
    <div class="di-container">
        <div class="left-wrap">
            <p>Information</p>
            <p>健康管理</p>
        </div>
        <div class="right-wrap">
            <p>健康医疗，标准化健康管理</p>
        </div>
    </div>
</div>
<div class="di-bread-crumbs">
    <div class="di-container">
        <ul class="crumbs-list">
            <li>您的当前位置</li>
            <li><a href="/">大爱无疆</a></li>
            <li><a href="{:url('/home/healthymanage')}?ctoken={$val.datoken}">健康管理</a></li>
            <li><a href="">医疗辅助与康复</a></li>
        </ul>
    </div>
</div>
<div id="ServiceSubject">
    <div class="di-container el-mt-20">
        <div class="di-row el-mb-20 di-title" v-for="item in dataset">
            <div class="di-title-container">医疗辅助与康复</div>
            <hr>
        </div>
        <div class="di-row el-mb-20 di-container-content">
        <p>在医院、养老机构、临终关怀机构、社区卫生服务中心、家庭等场所进行基本的护理技术服务，帮助服务对象保持、恢复和促进健康，维持生命，减轻痛苦，预防疾病，提高生活质量。</p>
        <p>1.协助服务对象到医疗机构进行专业检查；</p>
        <p>2.能协助专业医生观察生命体征的变化，准确进行血压、血糖、心律、体温等以及中医体表的监测服务；</p>
        <p>3.协助通过中医体表理疗方法减轻疾病症状，改善健康状况；</p>
        <p>4.预防为主，给予符合服务对象自身特点的健康生活方式和生活行为的引导；</p>
        <p>5.耐心、亲情地为老年人做心理疏导服务；</p>
        <p>6.在必要时能够提供紧急救护服务，并向医疗机构发出求助信息。</p>
<!--            <hr>-->
        </div>
    </div>
</div>
<div class="di-footer">
    <img class="dif-line" src="/static/images/home/footer-line.png" />
</div>
    {include file="Public/footer" /}