{include file="Public/header" /}
    <link rel="stylesheet" href="/static/pv1/css/01.normalize.css" />
    <link rel="stylesheet" href="/static/pv1/css/02.base.css" />
    <link rel="stylesheet" href="/static/pv1/css/03.multiplexing.css" />
    <link rel="stylesheet" href="/static/pv1/css/04.title-style.css" />
    <link rel="stylesheet" href="/static/pv1/css/medical-affairs.css" />
<div class="di-banner-container" style="background-image:url('/static/images/medical/banner-yiliaoshiwu.png')">
    <div class="di-container">
        <div class="left-wrap">
            <p>Medical Affairs</p>
            <p>医疗事务</p>
        </div>
        <div class="right-wrap">
            <p>健康医疗，标准化健康管理</p>
        </div>
    </div>
</div>
<div class="di-bread-crumbs">
    <div class="di-container">
        <ul class="crumbs-list">
            <li>您的当前位置</li>
            <li><a href="/">大爱无疆</a></li>
            <li><a href="">医疗事务</a></li>
        </ul>
    </div>
</div>
<div id="">
    <div class="di-container el-mt-20 medical-affairs">
        <div class="h-panel-three">
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/medical/01.png" alt="">
                    </p>
                    <div class="di-panel-content">
                        <p class="di-panel-content-title">家庭医疗事务协调</p>
                        <p>家庭医疗事务协调服务包括：商业高端医疗保险定制资讯、重大疾病治疗路径筹划、私人医生服务资讯、稀缺药品代购资讯、名老中医服务推荐、就医绿色通道、海外医疗、海外体检等，让您享受最专业、最优质的健康医疗服务资源。</p>
                    </div>
                </div>
            </div>
            <div class="h-three-margin">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/medical/04.png" alt="">
                    </p>
                    <div class="di-panel-content">
                        <p class="di-panel-content-title">稀缺药品代购</p>
                        <p>为客户寻找先进的稀缺药物，解决购药途径问题</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-panel-three middle-column">
            <div class="h-three-margin ">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/medical/02.png" alt="">
                    </p>
                    <div class="di-panel-content">
                        <p class="di-panel-content-title">重大疾病治疗路径规划</p>
                        <p>专家会诊、治疗方案、疑难杂症</p>
                    </div>
                </div>
            </div>
            <div class="h-three-margin ">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/medical/05.png" alt="">
                    </p>
                    <div class="di-panel-content">
                        <p class="di-panel-content-title">医疗援助</p>
                        <p>为了助力中国健康事业发展，贯彻落实国家关于《“健康中国2030”规划纲要》文件精神，大爱无疆以健康管理服务技术和方法唤醒与强化国民健康管理意识的同时，以助医济困为目的，依据国务院发布的《社会救助暂行办法》和《山东省社会救助办法》发起《大爱无疆医疗援助计划》，创建由政府主导与社会力量参与相衔接的新型医疗援助模式，与慈善联合基金会等多个公益机构发起成立“大爱无疆医疗援助基金”，为符合被援助条件的客户和社会贫困家庭提供疾病住院医疗援助，减少因病致贫因病返贫等现象，践行企业社会责任。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-panel-three ">
            <div class="h-three-margin ">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/medical/03.png" alt="">
                    </p>
                    <div class="di-panel-content">
                        <p class="di-panel-content-title">私人医生服务</p>
                        <p class="">由省内医院知名专家和北京医院知名专家为客户服务</p>
                    </div>
                </div>
            </div>
            <div class="h-three-margin ">
                <div class="di-panel-container">
                    <p>
                        <img src="/static/images/medical/06.png" alt="">
                    </p>
                    <div class="di-panel-content">
                        <p class="di-panel-content-title">名老中医预约</p>
                        <p class="">为客户推荐预约北京专业知名老中医</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/pv1/js/02.base.js"></script>
<script src="/static/pv1/js/01.vue.min.js"></script>
<!--<script src="/static/pv1/js/service-checkup.js"></script>-->
    {include file="Public/footer" /}
