<link rel="stylesheet" href="/static/pv1/css/01.normalize.css" />
<link rel="stylesheet" href="/static/pv1/css/02.base.css" />
<link rel="stylesheet" href="/static/pv1/css/03.multiplexing.css" />
<!--	<link rel="stylesheet" href="/static/pv1/css/healthy-manage.css" />-->
<link rel="stylesheet" href="/static/pv1/css/service-checkup-details.css" />
{include file="Public/header" /}
	<div class="di-banner-container" style="background-image:url('/static/images/healthy-manage/banner-tijian.png')">
		<div class="di-container">
			<div class="left-wrap">
				<p>PHYSICAL EXAMINATION</p>
				<p>个人体检</p>
			</div>
			<div class="right-wrap">
				<p>健康医疗，标准化健康管理</p>
			</div>
		</div>
	</div>
	<div class="di-bread-crumbs">
		<div class="di-container">
			<ul class="crumbs-list">
				<li>您的当前位置</li>
				<li><a href="/">大爱无疆</a></li>
				{if $dflanmu!=""}
					<li><a href="{:url('/home/servicecheckup')}?ctoken={$dflanmu.datoken}">{$dflanmu['name']}</a></li>
				{/if}
				{if $flanmu!=""}
					<li><a href="{:url('/home/chickservicecheckup')}?ctoken={$flanmu.datoken}">{$flanmu['name']}</a></li>
				{/if}
				<li><a href="#">{$serviceinfo['title']}</a></li>
			</ul>
		</div>
	</div>
	<div class="di-container el-mt-20">
		<div class="di-row el-mb-20">
			<div class="di-col-5">
				<div class="di-title-container">
					<h1 class="cn-name">{$serviceinfo['title']}</h1>
					<p>套餐价：<span style="color: #FF2020">￥{$serviceinfo['price']}</span></p>
					<p>支持分院：<span style="color: #333333">{$serviceinfo['fenyuan']}</span></p>
				</div>
				<div class="di-tcgk">
					套餐概况
				</div>
				<div class="di-tcgk-content">
					{$serviceinfo['description']|raw}
				</div>
				<div class="di-tc-tel">
					<img src="/static/images/zixun/tel.png" alt="">
<!--					联系客服：{$serviceinfo['phone']}-->
                    联系客服：400-172-7997
				</div>
				<br>
				<div class="di-tcgk">
					套餐详情
				</div>
				<div class="di-tc-details">
					{$serviceinfo['info']|raw};
				</div>
			</div>
			<div class="di-col-5">
				<div class="healthy-panel-container el-mb-20 service-menu">
					<div class="left-image el-mt-20 el-ml-15">
						<img src="/static/images/healthy-manage/healthy-check.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="di-footer">
		<img class="dif-line" src="/static/images/home/footer-line.png" />
	</div>
<script src="/static/pv1/js/02.base.js"></script>
<script src="/static/pv1/js/03.multiplexing.js"></script>
{include file="Public/footer" /}